
.section{
    padding-top:100px !important;
}
.form-section{
    padding-left:15px;
    display: none;
}
.form-section.current{
    display: inherit;
}
.btn-info, .btn-success{
    margin-top:10px;
}
.parsley-error-list{
    margin: 2px 0 3px;
    padding: 0;
    list-style-type:none;
    color:red;
}
